<h1>
  <%= @recipe.nazwa %>
</h1>
<p>
  <%= @recipe.opis %>
</p>
<%= link_to "Powrót", root_path, class: 'btn btn-default' %>
<%= link_to "Edytuj", edit_recipe_path, class: 'btn btn-default' %>
<%= link_to "Usuń", recipe_path, method: :delete, data: { confirm: "Na pewno?" }, class: 'btn btn-default' %>