<div class="main_content">
  <div class="recipe_top row">
    <div class="col-md-4">
      <div class="obrazek">
      <%= image_tag @recipe.image.url(:medium), class: "recipe_image"%>
      </div>
    </div>
    <div class="col-md-8">
        <div class="recipe_info">
          <h1>
            <%= @recipe.nazwa %>
          </h1>
          <h4>
            Dodany przez <%= @recipe.user.username %>
          </h4>
          <p>
            <%= @recipe.opis %>
          </p>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="ingredients">
      <h2> Składniki</h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.nazwa %>
        </li>
            <% end %>
      </ul>
    </div>
  </div>
            <div class="col-md-6">
              <div class="directions">
                <h2> Sposób przygotowania</h2>
                <ul>
                  <% @recipe.directions.each do |direction| %>
                      <li>
                        <%= direction.krok %>
                      </li>
                      <% end %>
                      </ul>
                      </div>
                      </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to "Powrót", root_path, class: 'btn btn-default' %>
    <% if @recipe.user == current_user %>
    <%= link_to "Edytuj", edit_recipe_path, class: 'btn btn-default' %>
    <%= link_to "Usuń", recipe_path, method: :delete, data: { confirm: "Na pewno?" }, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
